<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportsTrueScreenSizeOnMac</key>
	<true/>
	<key>UILaunchToFullScreenByDefaultOnMac</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>pandora</string>
		<string>tel</string>
		<string>mailto</string>
		<string>music</string>
		<string>imdb</string>
		<string>contacts</string>
		<string>maps</string>
	</array>
</dict>
</plist>
